body {
    font-family: Helvetica Neue, Verdana, Helvetica, Arial, sans-serif;
    padding-top: 51px; /* exact same height as navbar */
}

.internals-float {
    float: left;
    background-color: #eee;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    padding-left: 2em;
    padding-right: 2em;
}

.key {
    font-family: monospace;
    color: #008;
    margin-left: 0.1em;
}

.string-value {
    font-family: monospace;
    color: #800;
    margin-left: 0.3em;
}

.obj {
    margin: 0.5em;
}

.r-sent-command {
    font-family: "Monaco", "Courier New", monospace;
    color: #000;
}

.error-message {
    font-family: monospace;
    font-weight: bold;
    color: #800;
}

.rule-text {
    font: 10px sans-serif;
}

.x line, .y line {
  stroke: #fff;
  stroke-width: 1.5px;
}

path.dot {
  fill: black;
  stroke-width: 1.5px;
  stroke: white;
}

rect.extent {
    fill: #000;
    fill-opacity: .1;
    stroke: #fff;
}

rect.frame {
  fill: #fff;
  fill-opacity: .7;
  stroke: #aaa;
}

.figure-icon {
    color: #ddd;
}

.left-pane-header {
    width:100%;
    background-color:#ddd;
}

.text-result-table-date {
    font-size: 11px;
}

.text-result-table-same-date {
    font-size: 11px;
    color: #ddd;
}

.text-result-table-user {
    font-size: 11px;
}

.text-result-table-same-user {
    font-size: 11px;
    color: #ddd;
}

.text-result-table-filename {
    font-size: 11px;
}

.text-result-table-same-filename {
    font-size: 11px;
    color: #ddd;
}

.text-result-table-filename:hover {
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.text-result-table-linenumber {
    font-size: 11px;
    padding-left: 3em;
}

.text-result-table-same-linenumber {
    font-size: 11px;
    padding-left: 3em;
}

.text-result-table-loc {
    font-family: "Monaco", "Courier New", monospace;
    font-size: 12px;
}

.text-result-table-loc:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.text-result-table-same-loc {
    font-family: "Monaco", "Courier New", monospace;
    font-size: 12px;
}

.text-result-table-same-loc:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.notebook-cell {
    position:relative;
    width:100%;
    min-height: 25px;
}

.notebook-cell .outer-ace-div {
    position: relative; 
    width: 100%; 
    height: calc(100% - 25px);
    border: 1px solid #fff;
}

.cell-status {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: #e5e5e5;
}

.cell-status.big {
    height: 35px;
}

.cell-status .cell-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2 2 2 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: white;
}

.notebook-cell .cell-insert-control {
    color: #555;
    position: absolute;
    right: -0.1em;
    top: -0.5em;
    z-index: 5;
}

.fontawesome-button {
    margin: 0.25em;
    cursor: pointer;
}
.button-disabled {
    color: #ddd;
    cursor: default;
}

.notebook-tree {
    height: 450px;
    overflow-y: scroll;
}

.header-button {
    float: right;
    font-size: 120%;
    color: #f1f1e5;
}

/* Ace sets its z-index to something obscene,
   and we need to one-up that obscenity with our own button float; Twitter's
   bootstrap tooltip needs to reflect that and one-up everything else.
*/

.tooltip {
    z-index: 100000;
}

.help-iframe {
    width: 100%;
    height: 100%;
}

/**********************************************************************
 Override some of bootstrap's css
*/

.close {
    opacity: 0.5;
}

.close:hover {
    opacity: 0.7;
}

/* not sure why these got smaller in bootstrap 3? */
.navbar-brand {
    font-size: 20px;
}
.navbar-nav {
    font-size: 13px;
}

.footer {
    background-color: black;
    color: #999;
    height: 2.5em;
    bottom: 0;
    right: -50px;
    position: fixed;
    width: 50px;
    z-index: 1030;
    margin: 0;
    padding: 0;
}

#main-div {
    padding-bottom: 2.5em; /* must be .footer height + 2 * .footer.padding */
}

.icon-check,
.icon-check-empty,
#cog {
    cursor: pointer;
}

.fa-icon-label {
    padding-left: .2em;
}

.navbar .btn-link {
    color: #ddd;
    font-size: 120%;
    margin-top: .65em;
    text-decoration: none;
}

.navbar .btn-link.disabled {
    color: #aaa;
}

form input.linkbox {
    margin-top: 1em;
    margin-left: 1em;
    height: 25px;
    padding: 2px;
}

.nav li sub {
    color: #ddd;
}

/******************************************************************************/

ul.jqtree-tree .jqtree-toggler {
    top: 10%;
}


ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background-color: default;
    background-image: none;
    text-shadow: none;
    font-weight: bold;
}

.jqtree-title.jqtree_common.history {
    color: #7CB9E8
}

.jqtree-title {
}

ul.jqtree-tree .jqtree-title.private {
    color: #aaa;
}

.notebook-date {
}

.notebook-right {
    float: right;
}

.notebook-commands-right {
    position: relative;
    display: inline-block;
    width: 30px;
}

.notebook-commands {
    color: black;
}

.notebook-commands.appear {
    position: absolute;
    bottom: 0px;
    background-color: white;
}

li.jqtree-selected .notebook-commands {
    bottom: -1px;
}

.notebook-commands .fontawesome-button {
    margin: 0;
}



/******************************************************************************/

.comment-container {
    margin-bottom: .4em;
    clear: both;
}

.comment-header {
    float: right;
    color: #aaa
}

.comment-body {
    color: #555
}

#comment-entry {
    width: 100%
}

/******************************************************************************/
/* Bring in some of bootstrap's more up-to-date CSS */

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

a.footer-dropdown-toggle {
    padding: 5px;
    color: #999;
}

/******************************************************************************/
/* Fix some of the ugliness caused by the interaction between Bootstrap and
   Rmarkdown */

div.r-result-div h1,
div.r-result-div h2,
div.r-result-div h3,
div.r-result-div h4,
div.r-result-div h5 {
    margin-top: 0;
    padding-top: 12px;
    padding-right: 16px;
    padding-left: 16px;
}

div.r-result-div p {
    margin-left: 16px;
    margin-right: 16px;
};

pre {
    max-width: 100%;
}

/* some visual affordance for ace-gutter sortable handles */
#output:not(.ui-sortable-disabled) > .notebook-cell .ace_gutter-layer {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

#output > .notebook-cell .grabbing {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.tab-div {
    margin-bottom: 51px;
}

.rcloud-prompt {
    position: fixed;
    bottom: 0;
    z-index: 10;
    padding: 0;
    background-color: #777;
}

.btn {
    border-radius: 0;
    font-size: inherit;
}

#prompt-div button {
    border: 0;
    background-color: #777;
    color: #f1f1e5;
}

#new-r-cell-button:hover {
    background-color: rgb(232,241,250);
    color: #333;
}

#new-md-cell-button:hover {
    background-color: rgb(247,238,228);
    color: #333;
}

.title-offset {
    position: absolute;
    text-overflow: ellipsis; /* Chrome bug to be resolved soon: https://code.google.com/p/chromium/issues/detail?id=166263 */
    overflow: hidden;
    white-space: nowrap;
}

.left > .title-offset {
    left: 3em;
}

.right > .title-offset {
    right: 3em;
}

a.accordion-toggle:hover {
    text-decoration: none;
}

a.accordion-toggle [class^="icon-"], a.accordion-toggle [class*="icon-"] {
    position: relative;
    top: 2px;
}

a.accordion-toggle.right [class^="icon-"], a.accordion-toggle.right [class*="icon-"] {
    position: absolute;
    right: 0px;
}

.panel-default > .panel-heading {
    background-color: #777;
}

.panel-default > .panel-heading > .accordion-toggle {
    color: #f1f1e5;
}

.panel-heading {
    border-radius: 0;
}

.panel-collapse {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #777;
}

.panel-body {
    background-color: #fff;
}

.navbar-inverse {
    border-color: #222;
}

.ace-chrome .ace_print-margin {
    display: none;
}

.nav-tabs > li > a {
    padding: 5px;
    padding-bottom: 2px;
    color: rgb(28, 66, 87);
    background-color: rgba(224,224,224,0.5);
}

.nav-tabs > li.active > a {
    font-weight: bold;
    background-color: rgba(224,224,224,0.75);
}

/*****************************************************************************/
/* Fix that awful select from webkit */

.form-control {
    -webkit-appearance: none;
    height: 16px;
    width: 100px;
    padding: 1px 0 0 4px;
    position: relative;
    font-size: 12px;
    border: inherit;

    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px'><polyline fill='#555' points='8,13 10,9 6,9'/><polyline fill='#555' points='8,4 10,8 6,8'/></svg>") right no-repeat;
}

.form-control.big {
    height: 20px;
    font-size: 16px;
}
.r-result-div pre code:not(.r) {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid rgba(0,0,0,0.15);
    border-right: 1px solid rgba(0,0,0,0.15);
}

.r-result-div p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
