body {
    font-family: Helvetica Neue, Verdana, Helvetica, Arial, sans-serif;
    padding-top: 65px;
}

.tab-div {
    margin: 0.5em;
}

.internals-float {
    float: left;
    background-color: #eee;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    padding-left: 2em;
    padding-right: 2em;
}

.key {
    font-family: monospace;
    color: #008;
    margin-left: 0.1em;
}

.string-value {
    font-family: monospace;
    color: #800;
    margin-left: 0.3em;
}

.obj {
    margin: 0.5em;
}

.r-sent-command {
    font-family: "Monaco", "Courier New", monospace;
    color: #000;
}

.error-message {
    font-family: monospace;
    font-weight: bold;
    color: #800;
}

.rule-text {
    font: 10px sans-serif;
}

.x line, .y line {
  stroke: #fff;
  stroke-width: 1.5px;
}

path.dot {
  fill: black;
  stroke-width: 1.5px;
  stroke: white;
}

rect.extent {
    fill: #000;
    fill-opacity: .1;
    stroke: #fff;
}

rect.frame {
  fill: #fff;
  fill-opacity: .7;
  stroke: #aaa;
}

.detachable {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
}

.detachable:hover {
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
}

.figure-icon {
    color: #ddd;
}

.left-pane-header {
    width:100%;
    background-color:#ddd;
}

.text-result-table-date {
    font-size: 11px;
}

.text-result-table-same-date {
    font-size: 11px;
    color: #ddd;
}

.text-result-table-user {
    font-size: 11px;
}

.text-result-table-same-user {
    font-size: 11px;
    color: #ddd;
}

.text-result-table-filename {
    font-size: 11px;
}

.text-result-table-same-filename {
    font-size: 11px;
    color: #ddd;
}

.text-result-table-filename:hover {
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.text-result-table-linenumber {
    font-size: 11px;
    padding-left: 3em;
}

.text-result-table-same-linenumber {
    font-size: 11px;
    padding-left: 3em;
}

.text-result-table-loc {
    font-family: "Monaco", "Courier New", monospace;
    font-size: 12px;
}

.text-result-table-loc:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.text-result-table-same-loc {
    font-family: "Monaco", "Courier New", monospace;
    font-size: 12px;
}

.text-result-table-same-loc:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

/* .markdown-div { */
/*     background-color: red; */
/* } */
/* .r-result-div { */
/*     background-color: green; */
/* } */

.notebook-cell {
    position:relative;
    width:100%;
    border-width: 1px;
    padding: 1px;
    border-color: #eee;
    border-style: solid;
    margin-top: 1.2em;
    min-height: 75px;
}

.notebook-cell .cell-controls {
    position: absolute;
    right: -2em;
    top: .1em;
}

.notebook-cell .cell-insert-control {
    position: absolute;
    right: -0.5em;
    top: -1.3em;
}

.fontawesome-button {
    margin: 0.25em;
    cursor: pointer;
}
.button-disabled {
    color: #ddd;
    cursor: default;
}

.notebook-tree {
    height: 450px;
    overflow-y: scroll;
}

.notebook-commands .fontawesome-button {
    margin: 0;
}

/* Ace sets its z-index to something obscene,
   and we need to one-up that obscenity with our own button float; Twitter's
   bootstrap tooltip needs to reflect that and one-up everything else.
*/

.tooltip {
    z-index: 100000;
}

.help-iframe {
    width: 100%;
    height: 100%;
}

/**********************************************************************
 Override some of bootstrap's css
*/

.close {
    opacity: 0.5;
}

.close:hover {
    opacity: 0.7;
}

/*
how do i just delete their styles which i don't like,
without modifying jqtree.css?

ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background-color: default;
    background: default;
    text-shadow: default;
    font-weight: bold;
}
*/

.footer {
    background-color: black; 
    color: #999;
    height: 2.5em; 
    bottom: 0;
    right: -50px;
    position: fixed; 
    width: 50px;
    z-index: 1030;
    margin: 0;
    padding: 0;
}

#main-div {
    padding-bottom: 2.5em; /* must be .footer height + 2 * .footer.padding */
}

.icon-check,
.icon-check-empty,
#cog {
    cursor: pointer;
}

.fa-icon-label {
    padding-left: .2em;
}
