* {
	overflow: visible!important;
}

.navbar,
#left-column, 
.cell-status-left 
.grab-affordance, 
.cell-status-left .state-icon, 
.cell-control-bar, 
.cell-controls-above, 
.grab-affordance, 
#prompt-area, 
#right-column,
#command-prompt,
.ui-resizable-handle,
.live-plot-commands {
	display: none;
}

#main-div {
	position: static;
}

#middle-column {
	width: 100%;
	display: inline;
}

#rcloud-cellarea, .ace-scroller {
	overflow: visible;
}

.notebook-cell {
	page-break-inside: avoid;
	margin-bottom: 15px;
}

.cell-control {
	font-size: 15px;
}

.cell-status {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #444;
	margin-left: -5px;
}

img, .ui-resizable {
	max-width: 100%!important;
}