@-webkit-keyframes loader {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }

@keyframes loader {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }

@media (max-width: 767px) {
  body.loaded {
    padding-top: 95px; } }

#main-div {
  margin-top: 30px; }

#discovery-app {
  visibility: hidden; }

.navbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.navbar-right {
  margin-right: 15px; }

#discoveryLoader {
  position: absolute;
  left: 50%;
  top: 200px;
  margin-left: -52px; }

#progress {
  height: 100%;
  position: absolute;
  text-align: center;
  background: white;
  z-index: 1000;
  top: 0;
  width: 100%;
  opacity: 0.9; }
  #progress > div {
    top: 50%;
    position: absolute;
    margin-top: -90px;
    margin-left: -229px;
    left: 50%; }

body.loaded {
  overflow: auto;
  background: #c7d6e2;
  padding-top: 40px; }
  body.loaded .navbar {
    display: block; }
  body.loaded #discovery-app {
    visibility: visible; }
  body.loaded #progress {
    display: none; }
  body.loaded.loading {
    overflow: hidden; }
    body.loaded.loading #progress {
      display: block; }

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: loader 1.8s infinite ease-in-out;
  animation: loader 1.8s infinite ease-in-out; }

.loader {
  color: #A75E0F;
  font-size: 10px;
  margin: 20px auto 30px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.08s;
  animation-delay: -0.08s;
  padding-bottom: 10px; }
  .loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
  .loader:after {
    left: 3.5em; }
  .loader:before, .loader:after {
    content: '';
    position: absolute;
    top: 0; }

.grid-item {
  color: black;
  margin-top: 0;
  width: 100%;
  margin: 1%; }
  .grid-item:hover {
    border-color: #777; }
  .grid-item a {
    text-decoration: none;
    color: black; }
  .grid-item h1 {
    font-size: 17px;
    margin: 0;
    white-space: pre-wrap;
    word-break: break-all;
    font-weight: bold;
    padding-right: 70px; }
  .grid-item h2 {
    font-size: 13px;
    margin: 0;
    padding-top: 4px; }
  .grid-item h3 {
    font-size: 11px;
    margin: 2px 0;
    color: #666; }
  .grid-item .header {
    padding: 10px 10px 10px 10px;
    position: relative;
    background-color: #fff; }
    .grid-item .header .star,
    .grid-item .header .fork {
      color: black;
      font-size: 15px;
      text-decoration: none;
      background: transparent;
      border: none;
      padding: 2px 4px; }
    .grid-item .header .buttons {
      top: 6px;
      position: absolute;
      right: 4px; }
  .grid-item img {
    max-width: 100%; }

@media (min-width: 540px) and (max-width: 799px) {
  .grid-item {
    width: 48%; } }

@media (min-width: 800px) and (max-width: 1099px) {
  .grid-item {
    width: 30%; } }

@media (min-width: 1100px) and (max-width: 1649px) {
  .grid-item {
    width: 23%; } }

@media (min-width: 1650px) and (max-width: 2049px) {
  .grid-item {
    width: 18%; } }

@media (min-width: 2050px) {
  .grid-item {
    width: 14.6%; } }

/*# sourceMappingURL=rcloud-discover.css.map */