body, td {
   font-family: sans-serif;
   background-color: white;
   font-size: 12px;
   margin: 8px;
}

tt, code, pre {
   font-family: Monaco, 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, monospace;
}

h1 {
   font-size:2.2em;
}

h2 {
   font-size:1.8em;
}

h3 {
   font-size:1.4em;
}

h4 {
   font-size:1.0em;
}

h5 {
   font-size:0.9em;
}

h6 {
   font-size:0.8em;
}

pre {
   margin-top: 0;
   max-width: 100%;
   border: 1px solid #ccc;
}

pre code {
   display: block; padding: 0.5em;
}

code.r {
   background-color: #fff;
}

code.py {
   background-color: #fff;
}

table, td, th {
  border: none;
}

blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}

hr {
   height: 0px;
   border-bottom: none;
   border-top-width: thin;
   border-top-style: dotted;
   border-top-color: #999999;
}

@media print {
   * {
      background: transparent !important;
      color: black !important;
      filter:none !important;
      -ms-filter: none !important;
   }

   body {
      font-size:12pt;
      max-width:100%;
   }

   a, a:visited {
      text-decoration: underline;
   }

   hr {
      visibility: hidden;
      page-break-before: always;
   }

   pre, blockquote {
      padding-right: 1em;
      page-break-inside: avoid;
   }

   tr, img {
      page-break-inside: avoid;
   }

   img {
      max-width: 100% !important;
   }

   @page :left {
      margin: 15mm 20mm 15mm 10mm;
   }

   @page :right {
      margin: 15mm 10mm 15mm 20mm;
   }

   p, h2, h3 {
      orphans: 3; widows: 3;
   }

   h2, h3 {
      page-break-after: avoid;
   }
}

/* R Syntax Highlighting */

   pre code.r.hljs .hljs-string,
   pre code.r.hljs .hljs-paren {
     color: rgb(104, 118, 135)
   }
   pre code.r.hljs .hljs-literal {
     color: rgb(88, 72, 246)
   }
   pre code.r.hljs .hljs-number {
     color: rgb(0, 0, 205);
   }
   pre code.r.hljs .hljs-comment {
     color: rgb(76, 136, 107);
   }
   pre code.r.hljs .hljs-keyword {
     color: rgb(0, 0, 255);
   }
   pre code.r.hljs .hljs-identifier {
     color: rgb(0, 0, 0);
   }
   pre code.r.hljs .hljs-string {
     color: rgb(3, 106, 7);
   }

   pre code.py.hljs .hljs-string,
   pre code.py.hljs .hljs-paren {
     color: rgb(104, 118, 135)
   }
   pre code.py.hljs .hljs-literal {
     color: rgb(88, 72, 246)
   }
   pre code.py.hljs .hljs-number {
     color: rgb(0, 0, 205);
   }
   pre code.py.hljs .hljs-comment {
     color: rgb(76, 136, 107);
   }
   pre code.py.hljs .hljs-keyword {
     color: rgb(0, 0, 255);
   }
   pre code.py.hljs .hljs-identifier {
     color: rgb(0, 0, 0);
   }
   pre code.py.hljs .hljs-string {
     color: rgb(3, 106, 7);
   }
