@mixin grid-item($viewport-min-width, $viewport-max-width, $item-width) {
    @if $viewport-max-width == "nomax" {
        @media (min-width: #{$viewport-min-width}px) {
            .grid-item { 
              width: #{$item-width}%;
            }
        }
    } 
    @else {
        @media (min-width: #{$viewport-min-width}px) and (max-width: #{$viewport-max-width}px) {
            .grid-item { 
              width: #{$item-width}%;
            }
        }
    }
}

body {
    overflow: hidden;

    .loaded {
        display: block;
        overflow: auto;
    }
}

#main-div {
    margin-top: 30px;
}

#discovery-app {
    visibility: hidden;
}

.navbar {
    display: none;
}

#discoveryLoader {
    position: absolute;
    left: 50%;
    top: 200px;
    margin-left: -52px;
}

#progress {
    height: 180px;
    position: absolute;
    top: 50%;
    margin-top: -90px;
    text-align: center;
    width: 500px;
    margin-left: -250px;
    left: 50%;
}

progress {
    height: 10px;
    width: 390px;
    margin: 40px auto;
    display: block;
    -webkit-appearance: none;
    border: none;
}

progress::-webkit-progress-bar {
    background: #ccc;
    border-radius: 50px;
    padding: 2px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

/* Now the value part */
progress::-webkit-progress-value {
    border-radius: 50px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
    background: #47c0ed;
    background-size: 25px 14px, 100% 100%, 100% 100%;
    -webkit-animation: move 5s linear 0 infinite;
}

.logo-holder {
    margin-left: 30px;
    margin-top: 8px;
}

.grid-item {
    color: black;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 0;
    width: 100%;
    margin: 1%;

    &:hover {
        border-color: #777;
    }

    a {
        text-decoration: none;
        color: black;
    }

    h1 {
        font-size: 17px;
        margin: 0;
        white-space: pre-wrap;
        word-break: break-all;
    }

    h2 {
        font-size: 11px;
        margin: 0;
    }

    .header {
        padding: 10px 70px 10px 4px;
        position: relative;

        .star, .fork {
            color: black;
            font-size: 18px;
            text-decoration: none;
            background: transparent;
            border: none;
            padding: 2px 4px;
        }

        .buttons {
            top: 6px;
            position: absolute;
            right: 4px;
        }
    }

    img { 
        max-width: 100%;
    }
}

@include grid-item(540, 799, 48);
@include grid-item(800, 1099, 30);
@include grid-item(1100, 1649, 23);
@include grid-item(1650, 2049, 18);
@include grid-item(2050, "nomax", 14.6);
