*~
*.pyc
pids.txt
tmp
userfiles
.sass-cache
node_modules
htdocs/mathjax
services/
data
run
conf/rcloud.auth
conf/github_info.txt
conf/rcloud.conf*
conf/selected.conf.txt
rcloud.support_*.tar.gz
rcloud.client_*.tar.gz
packages/*.tar.gz
rcloud.packages/*.tar.gz
REVISION
run
packages/src
