.key {
    font-family: monospace;
    color: #008;
    margin-left: 0.1em;
}

.string-value {
    font-family: monospace;
    color: #800;
    margin-left: 0.3em;
}

.obj {
    margin: 0.5em;
}

.error-message {
    font-family: monospace;
    font-weight: bold;
    color: #800;
}
