body {
    font-family: Helvetica Neue, Verdana, Helvetica, Arial, sans-serif;
}

.tab-div {
    margin: 0.5em;
    margin-top: 2em;
}

.internals-float {
    float: left;
    background-color: #eee;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    padding-right: 2em;
    padding-left: 2em;
}

.key {
    font-family: monospace;
    color: #008;
    margin-left: 0.1em;
}

.string-value {
    font-family: monospace;
    color: #800;
    margin-left: 0.3em;
}

.obj {
    margin: 0.5em;
}

.r-sent-command {
    font-family: "Monaco", "Courier New", monospace;
    color: #000;
}

.error-message {
    font-family: monospace;
    font-weight: bold;
    color: #800;
}

.rule-text {
    font: 10px sans-serif;
}

.x line, .y line {
  stroke: #fff;
  stroke-width: 1.5px;
}

path.dot {
  fill: black;
  stroke-width: 1.5px;
  stroke: white;
}

. 
