useDynLib(rcloud.support, uri_encode, uri_decode, hex2raw, parse_headers)
exportPattern("^rcloud.*") ## rcloud API
exportPattern("^w.*")      ## wplot, wdc, wgeo...
export(rcs.key, rcs.get, rcs.set, rcs.rm, rcs.incr, rcs.decr, rcs.list, usr.key)  ## RCS
export(deferred.rcloud.result)
export(RCloudDevice, dev.resize)

## other user-visible functions
export(password, select, check.installation, show.iframe)

## this is brain-dead but there is no way to export multiple methods
S3method(rcs.get, RCSredis)
S3method(rcs.set, RCSredis)
S3method(rcs.rm, RCSredis)
S3method(rcs.incr, RCSredis)
S3method(rcs.decr, RCSredis)
S3method(rcs.list, RCSredis)

S3method(rcs.get, RCSff)
S3method(rcs.set, RCSff)
S3method(rcs.rm, RCSff)
S3method(rcs.incr, RCSff)
S3method(rcs.decr, RCSff)
S3method(rcs.list, RCSff)

S3method(print, deferred_result)

import(gist)
import(knitr)
import(markdown)
import(png)
import(Cairo)
import(httr)
import(mime)
import(Rserve)
import(PKI)
